* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.section-1, 
.section-3, 
.section-5 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  opacity: 0.7;
}

.section-1 {
  background-image: url(./img/bg.jpg);
}

.first_border,
.third_border,
.fifth_border {
  background-color: #010101;
  color: white;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 2rem 0 2rem 0;
  outline: 0.6rem purple inset;
  outline-offset: 1.2rem;
}

.first_title,
.thrid_title,
.fifth_title {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
}

.full-stack,
.data {
  width: 100%;
  background-color: #f1f1f1;
  color: #666;
  text-align: center;
  padding: 3rem 5rem;
  font-family: sans-serif;
}

.full-stack_title,
.data_title {
  font-size: 1.6rem;
  margin: 1.5rem;
  font-weight: bold;
}

.full-stack_p,
.data_p {
  font-size: 1.2rem;
  margin: 1rem;
  line-height: 2rem;
}

.full-stack_p span,
.data_p span {
  font-weight: bolder;
}

.section-2,
.section-4 {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.section-2 {
  background-image: url(./img/bg2.jpg);
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_img {
  width: 30%;
}

.AWS,
.why {
  width: 100%;
  background-color: #282e34;
  color: #ddd;
  text-align: center;
  padding: 3rem 5rem;
  font-family: sans-serif;
}

.AWS_title,
.why_title {
  font-size: 1.6rem;
  margin: 1.5rem;
  font-weight: bold;
}

.AWS_p,
.why_p {
  font-size: 1.2rem;
  margin: 1rem;
  line-height: 2rem;
}

.AWS_p span,
.why_p span {
  font-weight: bolder;
}

.section-3 {
  background-image: url(./img/bg3.jpg);
}

.section-4 {
  background-image: url(./img/bg4.jpg);
}

.forth_border {
  background-color: #010101;
  color: white;
  height: 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  border-radius: 1rem 0 1rem 0;
  outline: 0.45rem purple inset;
  outline-offset: 0.2rem;
}

.forth_title {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
}

.section-5 {
  background-image: url(./img/bg.jpg);
}

